.private-inform{
  label{
    font-size: 14px;
  }
  .input{
    width: 166px;
  }
}

.btn-back{
  display: flex;
  align-items: center;
  font-size: 16px;
  width: 150px;
  cursor: pointer;
  span{
    font-size: 16px;
  }
}
.toggle-button-group{
  margin:  20px 0;
}


.geocoder-container{
  width: 100%;
  color: rgba(0, 0, 0, 0.87);
  cursor: text;
  display: inline-flex;
  position: relative;
  font-size: 1.6rem;
  box-sizing: border-box;
  align-items: center;
  font-family: Muli,Roboto,"Helvetica",Arial,sans-serif;
  line-height: 1.1875em;
  outline: none !important;
  .fieldset{
    border-color: rgba(0, 0, 0, 0.23);
    top: -5px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0 0 0 8px;
    position: absolute;
    transition: padding-left 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,border-color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms,border-width 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    pointer-events: none;
    .legend{
      padding: 0;
      text-align: left;
      transition: width 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
      line-height: 11px;
    }
  }
  .react-geocoder{
    font: inherit;
    color: currentColor;
    width: 100%;
    border: 0;
    height: 1.1875em;
    margin: 0;
    display: block;
    padding: 18.5px 14px;
    min-width: 0;
    background: none;
    box-sizing: content-box;
    -webkit-tap-highlight-color: transparent;
    input {
      width: 100%;
    }
  }
  .react-geocoder-results {
    opacity: 1;
    transform: none;
    min-width: 320px;
    max-width: 100%;
    z-index: 9999;
    transform-origin: 0px 32px;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.2), 0px 8px 10px 1px rgba(0,0,0,0.14), 0px 3px 14px 2px rgba(0,0,0,0.12);
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #fff;
    outline: none !important;
    padding-bottom: 4px;
    padding-top: 4px;
    .react-geocoder-item {
      padding: 4px 16px;
      width: auto;
      font-size: 1.6rem;
      box-sizing: border-box;
      //min-height: 48px;
      font-weight: 400;
      line-height: 1.75;
      white-space: nowrap;
    }
    .react-geocoder-item:hover {
      background-color: #eeeeee;
      cursor: pointer;
    }
  }
}
.geocoder-container:hover{
  .fieldset{
    border-color: rgba(0, 0, 0, 0.87);
  }
}
.geocoder-focus{
  label{
    color: #303f9f
  }
  .fieldset{
    border-width: 2px;
    border-color: #3f51b5;
  }
  .geocoder-container:hover{
    .fieldset{
      border-width: 2px;
      border-color: #3f51b5;
    }
  }
}
.error{
  label{
    color: #d12f1d !important;
  }
  .fieldset{
    border-width: 1px !important;
    border-color: #d12f1d !important;
  }
  .geocoder-container:hover{
    .fieldset{
      border-width: 1px !important;
      border-color: #d12f1d !important;
    }
  }
}

