.revive-title{
  color: #393A46;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.08px;
  line-height: 24px;
  text-align: center;
  padding: 35px 0 0;
  width: 460px;
}
.revive-description{
  color: #718297;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  padding-bottom: 10px;
}
.revive-note{
  width: 100%;
  height: 89px;
  background-color: #F5F5FB;
  border-width: 0;
  margin-top: 16px;
  margin-bottom: 0;
  color: #393A46;
  font-size: 14px;
  line-height: 17px;
  div{
    width: 100%;
    height: 89px;
    padding: 18.5px 0 18.5px 14px;
    textarea::placeholder {
      color: #393A46;
      font-size: 14px;
      line-height: 17px;
    }
  }
}
.revive-container-btn{
  padding: 23px;
  justify-content: space-between;
}

